<form class="form-groupO" id="regForm" action="#" method="post" enctype="multipart/form-data">
    <!-- One "tab" for each step in the form: -->
    <!--Datos de la nueva area-->
    <div class="tab">
      <label class="col-sm-2 control-label">Archivos</label>
      <div class="col-sm-8">
        <input type="file" class="form-control" id="archivo[]" name="archivo[]" multiple="">
      </div>
    </div>
    <div class="footform">
      <div class="botonesform">
        <button type="button" id="prevBtn" onclick="nextPrev(-1)">Anterior</button>
        <button type="button" id="nextBtn" onclick="nextPrev(1)">Siguiente </button>
      </div>
    </div>
    <div class="steps">
      <span class="step"></span>
    </div>
    <!-- Circles which indicates the steps of the form: -->
</form>

