
<div class="row">
    <br>
        <h2 id="titulo">Consultar incidentes de seguridad. <i class="material-icons medium">chrome_reader_mode</i></h2>
    </div>
  
  <div class="row">
    <div class="col s10">
      
    </div>
  
    <div class="col s2">
      <a href="altaIncidente.php" class="waves-effect waves-light btn"><i class="material-icons right">control_point</i>Agregar nuevo incidente</a>
    </div>
   
  </div>
  
  
  
  <hr>
  <br>