<input class="form-control" id="myInput" type="text" placeholder="Buscar">
<br>
<form id="area" action="consultaArea.php" method="POST">
        <table class="table">
        <thead>
            <tr>
            <th>Ver</th>
            <th>Nombre de area</th>
            </tr>
        </thead>
        <tbody id="myTable">
            <tr>
                <td><input type="submit" name="area" class="btn" value="area" /></td>
                <td>Medicina</td>
            </tr>
            <tr>
                <td><input type="submit" name="area" class="btn" value="area" /></td>
                <td>Psipedadogia</td>
            </tr>
        </tbody>
        </table>
    </form>