<input class="form-control" id="myInput" type="text" placeholder="Buscar">
<br>
<table class="table table-dark table-dark">
  <thead>
    <tr>
      <th>No. Expediente</th>
      <th>Nombres</th>
      <th>Apellido Paterno</th>
      <th>Apellido Materno</th>
    </tr>
  </thead>
  <tbody id="myTable">
    <tr>
      <th>1</th>
      <td>Luz Francisca</td>
      <td>Ramos</td>
      <td>Garza</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mariana</td>
      <td>Perez</td>
      <td>Hernández</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Maria del Rosario</td>
      <td>Galindo</td>
      <td>Valencia</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Anja</td>
      <td>Ravendale</td>
      <td>Zar</td>
    </tr>
  </tbody>
</table>