<form class="form-groupO" id="regForm" action="consultaDiagnostico.php" method="POST">
    <!--Informacion de la receta-->
    <div class="tab">
      <div class="row">
        <div class="col s6">
          <p>Paciente:<br>
            <input placeholder="0" id="idDeIngresos" type="text" class="validate">
          </p>
          <p>Descripcion:<br><textarea class="materialize-textarea"  rows="10" cols="50"  name="descripcion" id="descripcion"></textarea></p>
          <p>Tratamiento:<br><textarea class="materialize-textarea"  rows="10" cols="50" name="tratamiento" id="tratamiento"></textarea></p>
        </div>
      </div>
    </div>
    <div class="footform">
      <div class="botonesform">
        <button type="button" id="prevBtn" onclick="nextPrev(-1)">Anterior</button>
        <button type="button" id="nextBtn" onclick="nextPrev(1)">Siguiente</button>
      </div>
    </div>

    <div class="steps">
      <span class="step"></span>
    </div>
</form>
    <!-- Circles which indicates the steps of the form: -->


