<input class="form-control" id="myInput" type="text" placeholder="Buscar">
<br>
<form id="especialidad" action="consultaEspecialidad.php" method="POST">
        <table class="table">
        <thead>
            <tr>
            <th>Ver</th>
            <th>Nombre de especialidad</th>
            </tr>
        </thead>
        <tbody id="myTable">
            <tr>
                <td><input type="submit" name="Especialidad" class="btn" value="Especialidad" /></td>
                <td>Ortopedia</td>
            </tr>
            <tr>
                <td><input type="submit" name="Especialidad" class="btn" value="Especialidad" /></td>
                <td>Psicoterapia</td>
            </tr>
        </tbody>
        </table>
    </form>