<br>
<div class="row">
  <br>
      <h2 id="titulo">Presentaciones  <i class="material-icons medium">healing</i></h2>
</div>

<div class="row">
  <div class="col s2">
    <a href="consultaMedicamento.php" class="waves-effect waves-light btn">Volver</a>
  </div>
  <div class="col s8">
    
  </div>

  <div class="col s2">
    <a href="altaPresentacion.php" class="waves-effect waves-light btn"><i class="material-icons right">control_point</i>Agregar</a>
  </div>
 
</div>
<hr>
<br>