
<br>
<div class="card teal lighten-2">
<div class="card-content teal lighten-3">
<div class="carousel carousel-slider center" data-indicators="true">

  <div class="carousel-fixed-item center">
    <a class="waves-effect waves-light btn slide-prev">Anterior</a>
      <a class="waves-effect waves-light btn slide-next">Siguiente</a>
  </div>
  <div class="carousel-item teal lighten-5" href="#one!" id="Docs-Benefi">
      <h2>Alta de Beneficiaria</h2>
    <div class="col s12">
      <form action="#">
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input type="date" name="fecha">
            <label for="rol"><strong>Fecha de ingreso:</strong></label>     
        </div>
        </div>
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input type="time" name="hora">
            <label for="rol"><strong>Hora de ingreso</strong></label>     
        </div>
        </div>
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input placeholder="Maria" type="text"  name="nombre">
            <label for="rol"><strong>Nombre</strong></label>     
        </div>
        </div>
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input placeholder="Garcia" type="text"  name="apellidoPaterno">
            <label for="rol"><strong>Apellido Paterno</strong></label>     
        </div>
        </div>
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input placeholder="Perez" type="text"  name="apellidoMaterno">
            <label for="rol"><strong>Apellido Materno</strong></label>     
        </div>
        </div>
      
      </div>
  </div>
  
  <div class="carousel-item teal lighten-5" href="#two!">
    <h2>Alta de Beneficiaria</h2>
    <div class="col s12">
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input type="date" oninput="this.className = ''" name="fechaN">
            <label for="rol"><strong>Fecha de nacimiento:</strong></label>     
        </div>
        </div>
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input placeholder="Mexico" oninput="this.className = ''" name="nac" type="text" >
            <label for="rol"><strong>Nacionalidad</strong></label>     
        </div>
        </div>
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input placeholder="Queretaro" oninput="this.className = ''" name="estado" type="text" >
            <label for="rol"><strong>Estado</strong></label>     
        </div>
        </div>
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input placeholder="Queretaro"  oninput="this.className = ''" name="ciudad" type="text" >
            <label for="rol"><strong>Ciudad</strong></label>     
        </div>
        </div>
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input placeholder="CURP"  oninput="this.className = ''" name="curp" type="text" >
            <label for="rol"><strong>CURP</strong></label>     
        </div>
        </div>
      
      </div>
  </div>


  <div class="carousel-item teal lighten-5" href="#three!">

    <h2>Canalizador</h2>
    <div class="col s12">
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input placeholder="Juan Perez" oninput="this.className = ''" name="nombreC" type="text" >
            <label for="rol"><strong>Nombre</strong></label>     
        </div>
        </div>
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input placeholder="Mexico" oninput="this.className = ''" name="cargo" type="text" >
            <label for="rol"><strong>Cargo</strong></label>     
        </div>
        </div>
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input placeholder="Queretaro" oninput="this.className = ''" name="institucion" type="text" >
            <label for="rol"><strong>Institución</strong></label>     
        </div>
        </div>
        <h2>Identificación</h2>
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input placeholder="INE"  oninput="this.className = ''" name="tipoIdentificacion" type="text" >
            <label for="rol"><strong>Tipo</strong></label>     
        </div>
        </div>
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input placeholder="1"  oninput="this.className = ''" name="numeroI" type="text" >
            <label for="rol"><strong>Número</strong></label>     
        </div>
        </div>
      
      </div>
  </div>

  <div class="carousel-item teal lighten-5" href="#four!">
   
    <h2>Alta de Beneficiaria</h2>
    <div class="col s12">
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input placeholder="-" oninput="this.className = ''" name="nExpediente" type="text">
            <label for="rol"><strong>Número de expediente y/o carpeta de investiación</strong></label>     
        </div>
        </div>
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input placeholder="-" oninput="this.className = ''" name="motivo" type="text" >
            <label for="rol"><strong>Motivo de ingreso</strong></label>     
        </div>
        </div>
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input placeholder="Si/No" oninput="this.className = ''" name="hermanos" type="text" >
            <label for="rol"><strong>Ingreso con hermanos</strong></label>     
        </div>
        </div>
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input placeholder="-" oninput="this.className = ''" name="nDisposicion" type="text" >
            <label for="rol"><strong>No. Oficio Disposición</strong></label>     
        </div>
        </div>
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <textarea name="message" type="text" rows="10" cols="30" placeholder="Situacion Juridica" oninput="this.className = ''" name="situacionJ"></textarea>
             
        </div>
        </div>
      </div>

  </div>

  <div class="carousel-item teal lighten-5" href="#five!">
    <h2>Datos Educativos</h2>
    <div class="col s12">
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input placeholder="secundaria" oninput="this.className = ''" name="escolaridad"type="text" >
            <label for="rol"><strong>Escolaridad</strong></label>     
        </div>
        </div>
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input placeholder="-" oninput="this.className = ''" name="escuela" type="text" >
            <label for="rol"><strong>Escuela</strong></label>     
        </div>
        </div>
        <h2>Datos médicos</h2>
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input placeholder="M/F" oninput="this.className = ''" name="sexo" type="text" >
            <label for="rol"><strong>Sexo</strong></label>     
        </div>
        </div>
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input placeholder="-" oninput="this.className = ''" name="talla" type="text" >
            <label for="rol"><strong>Talla</strong></label>     
        </div>
        </div>
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input placeholder="kg" oninput="this.className = ''" name="peso" type="number">
            <label for="rol"><strong>Peso</strong></label>     
        </div>
        </div>
      
      </div>
  </div>

  <div class="carousel-item teal lighten-5" href="#six!">
    <h2>Datos médicos</h2>
    <div class="col s12">
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input placeholder="-" oninput="this.className = ''" name="padecimientos" type="text" >
            <label for="rol"><strong>Padecimientos y/o enfermedades crónicas</strong></label>     
        </div>
        </div>
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input placeholder="-" oninput="this.className = ''" name="alergia" type="text" >
            <label for="rol"><strong>Alergias</strong></label>     
        </div>
        </div>
        <!-- Elemento -->
        <h2>Datos médicos</h2>
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input placeholder="S/N" oninput="this.className = ''" name="discapacidadSN" type="text" >
            <label for="rol"><strong>Si/No</strong></label>     
        </div>
        </div>
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input placeholder="-" oninput="this.className = ''" name="discapacidad" type="text" >
            <label for="rol"><strong>Cual</strong></label>     
        </div>
        </div>
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12 l12 left">
            <button class="waves-effect waves-light btn right" type="submit" name="action">Registrar
              <i class="material-icons right">add</i>
            </button>
        </div>
        </div>
      
      </div>
  </div>



</form>
</div>
</div>
</div>



<script>
 $(document).ready(function () {
    $('.carousel').carousel();
    $('.carousel.carousel-slider').carousel({ fullWidth: true , noWrap: true});
    $('.slide-prev').click(function (e) {
        e.preventDefault();
        e.stopPropagation();
        $('.carousel').carousel('prev')
    });
    $('.slide-next').click(function (e) {
        e.preventDefault();
        e.stopPropagation();
        $('.carousel').carousel('next')
    });
 
});
  </script>