<div class="input-field col s12">
    <i class="material-icons prefix">search</i>
    <input id="Area" placeholder="Medicina" type="text" class="validate">
    <label for="rol">Escribe una area para buscar</label>     
</div>