<form class="form-groupO" id="regForm" action="#">
    <!-- One "tab" for each step in the form: -->
    <!--Datos de la nueva area-->
    <div class="tab">
      <p>Nombre de nueva area de diágnostico:<input placeholder="Ej. Psicología del deporte" oninput="this.className = ''" name="nombre"></p>
    </div>
    <div class="footform">
      <div class="botonesform">
        <button type="button" id="prevBtn" onclick="nextPrev(-1)">Anterior</button>
        <button type="button" id="nextBtn" onclick="nextPrev(1)">Siguiente </button>
      </div>
    </div>
    <!-- Circles which indicates the steps of the form: -->
    <div class="steps">
      <span class="step"></span>

    </div>
  </form>