<input class="form-control" id="myInput" type="text" placeholder="Buscar">
<br>
<form id="receta" action="consultaReceta.php" method="POST">
        <table class="table">
        <thead>
            <tr>
            <th>Ver</th>
            <th>Fecha</th>
            <th>Paciente</th>
            </tr>
        </thead>
        <tbody id="myTable">
            <tr>
                <td><input type="submit" name="receta" class="btn" value="receta" /></td>
                <td>10/04/2020</td> 
                <td>Juan Perez Perez</td>
            </tr>
            <tr>
                <td><input type="submit" name="receta" class="btn" value="receta" /></td>
                <td>9/04/2020</td>
                <td>Johnny Perez Perez</td>
            </tr>
        </tbody>
        </table>
    </form>