
<div class="container-fluid p-3   text-center" >
    <h2>Preguntas</h2>
</div>
<div class="container p-3 ">
    <div class="card">
      <div class="card-header">¿Qué es ODBC y para qué es útil?</div>
      <div class="card-body">Open DataBase Connectivity  es un estándar de acceso a las bases de datos con el objetivo de  hacer posible el acceder a cualquier dato desde cualquier aplicación, sin importar qué DBMS almacene los datos.
      </div> 
      <div class="card-footer">
        <a href="https://es.wikipedia.org/wiki/Open_Database_Connectivity">Wikipedia</a>
          
        </div>
    </div>
</div>
<div class="container p-3 ">
    <div class="card">
      <div class="card-header">¿Qué es SQL Injection?</div>
      <div class="card-body">    
        Es una vulnerabilidad que permite “inyectar” instrucciones SQL dentro del código con el fin de  manipulacr las bases de datos poniendo en peligro los datos almacenados.
    </div> 
      <div class="card-footer">
        <a href="https://openwebinars.net/blog/que-es-sql-injection/">Openwebinars</a>
      </div>
    </div>
</div>


<div class="container p-3 ">
    <div class="card">
      <div class="card-header">¿Qué técnicas puedes utilizar para evitar ataques de SQL Injection?</div>
      <div class="card-body">   
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Convierte siempre el valor a su tipo correspondiente </li>
          <li class="list-group-item">Parametrizar las consultas SQL</li>
          <li class="list-group-item">Usar una cuenta con permisos restringidos a la base de datos</li>
          <li class="list-group-item">No mostrar al usuario la información de error generada por la base de datos</li>
          <li class="list-group-item">Rechazar las peticiones con caractéres sospechosos</li>
        </ul>
      </div> 
        <div class="card-footer">        
        <a href="https://geeks.ms/gtorres/2010/10/29/tips-para-evitar-sql-injection/">Geeks</a>
        </div>
    </div>
</div>


