<div class="input-field col s12">
    <i class="material-icons prefix">search</i>
    <input id="GradoEscolar" placeholder="Primaria 1 grado" type="text" class="validate">
    <label for="rol">Escribe una grado escolar para buscar</label>     
</div>