<h2>Preguntas</h2>
<p>
    ¿Qué hace la función phpinfo()? Describe y discute 3 datos que llamen tu atención.<br>
    La funcion phpinfo es un comando de gran utilidad para debugear ya que nos otroga toda la informacion del php que se esta ejecuando.<br>
    Incluye información sobre las extensiones de PH, versión de PHP, información del servidor, rutas, valor de las opciones de configuración locales y generales.<br>
    Estos comado son de gran utilidad por ejemplo el mostar la version del sistema esto nos permitira desarrollar todo el equipo en la misma version y tambien de saber si los fallos a la hora de suvir la pagina web son de provocados po otra version.<br>
    Es por esto que en cada sistema se instala diferente phpinfo() con el fin de revisar opciones y variables en el sistema.<br>
</p>

<p>
    ¿Qué cambios tendrías que hacer en la configuración del servidor para que pudiera ser apto en un ambiente de producción?<br>
    Se puede instalar las aplicaciones de terceros a las que podrá acceder el entorno de su servidor.<br>
    Algunas de estas aplicaciones son XAMPP y WAMP. Estas aplicaciones de terceros instalan Apache, MySQL y PHP dentro del programa.<br>

</p>
<p>
    ¿Cómo es que si el código está en un archivo con código html que se despliega del lado del cliente, se ejecuta del lado del servidor? Explica.
    Cuando accedemos a un html se etsa solicitando una petición de un archivo HTML residente en el servidor (un ordenador que se encuentra continuamente conectado a la red) el cual es enviado e interpretado por nuestro navegador (el cliente). 

</p>