
<div class="container-fluid p-3   text-center" >
    <h2>Preguntas</h2>
</div>
<div class="container p-3 ">
    <div class="card">
      <div class="card-header">¿Por qué es una buena práctica separar el controlador de la vista?</div>
      <div class="card-body">De esta manera, no estamos validando información directamente desde la interfaz.</div> 
      <div class="card-footer">
        <a href="https://www.w3schools.com/php/php_form_validation.asp">w3schools.com</a>
          
        </div>
    </div>
</div>
<div class="container p-3 ">
    <div class="card">
      <div class="card-header">Aparte de los arreglos $_POST y $_GET, ¿qué otros arreglos están predefinidos en php y cuál es su función?</div>
      <div class="card-body">    
        <ul class="list-group list-group-flush">
            <li class="list-group-item">$_SERVER es una matriz que contiene información tal como cabeceras, rutas y ubicaciones de scripts. </li>
            <li class="list-group-item">$_FILES Un array asociativo de elementos subidos al script en curso a través del método POST</li>
            <li class="list-group-item">$_REQUEST Un array asociativo que por defecto contiene el contenido de $_GET, $_POST y $_COOKIE.</li>
            <li class="list-group-item">$_SESSION Es un array asociativo que contiene variables de sesión disponibles para el script actual.</li>
            <li class="list-group-item">$_ENV Una variable tipo array asociativo de variables pasadas al script actual a través del método del entorno.</li>
            <li class="list-group-item">$_COOKIE Una variable tipo array asociativo de variables pasadas al script actual a través de Cookies HTTP.</li>
        </ul>
    </div> 
      <div class="card-footer">
        <a href="https://www.w3schools.com/php/php_form_validation.asp">w3schools.com</a>
        <br>
        https://soyprogramador.liz.mx/2011/12/06/variables-_server-php/
        <br>
        https://www.php.net/manual/es/reserved.variables.files.php

      </div>
    </div>
</div>


<div class="container p-3 ">
    <div class="card">
      <div class="card-header">Explora las funciones de php, y describe 2 que no hayas visto en otro lenguaje y que llamen tu atención</div>
      <div class="card-body">   
        <ul class="list-group list-group-flush">
            <li class="list-group-item">IS_NUMERIC: Esta función nos ayuda a identificar si una cadena es de caracteres numéricos, con el objetivo de hacer validaciones.</li>
            <li class="list-group-item">FILTER_VAR: Esta función sirve para crear filtros dentro de los input y así poder hacer validaciones. </li>
        </ul>
      </div> 
      <div class="card-footer"><a href="https://www.w3schools.com/php/php_form_validation.asp">w3schools.com</a>
      </div>
    </div>
</div>

<div class="container p-3 ">
    <div class="card">
      <div class="card-header">¿Qué es XSS y cómo se puede prevenir?</div>
      <div class="card-body">   
        XSS o bien, Cross Site Scripting, es una forma de vulnerar la seguridad de las entradas en una página web a través de escribir código que pueda redireccionar a algun sitio o acción php. Puede prevenirse mediante el bloqueo de caracteres con la función htmlspecialchars
      </div> 
      <div class="card-footer">        <a href="https://www.owasp.org/index.php/Cross-site_Scripting_(XSS)">owasp</a>
        </div>
    </div>
</div>

