<div class="container p-3">
    <h2>Introduce los siguientes datos:</h2>
    <form method=post action='<?php echo $_SERVER["PHP_SELF"];?>' class="was-validated">

        <!--Problema 1:  promedio, medianas y lista-->
        <div class="form-group">
            <label for="uname">6 numeros para sacar promedio, medianas y lista</label>
            <table class="table "> 
                <tr> 
                    <td><input type=number class="form-control" id=txt0 name=txt0 value=1 min=0  max = 100 required/></td> 
                    <td><input type=number class="form-control" id=txt1 name=txt1 value=1 min=0  max = 100 required/></td>  
                    <td><input type=number class="form-control" id=txt2 name=txt2 value=1 min=0  max = 100 required/></td> 
                    <td><input type=number class="form-control" id=txt3 name=txt3 value=1 min=0  max = 100 required/></td> 
                    <td><input type=number class="form-control" id=txt4 name=txt4 value=1 min=0  max = 100 required/></td> 
                    <td><input type=number class="form-control" id=txt5 name=txt5 value=1 min=0  max = 100 required/></td> 
                </tr> 
             </table> 
            <div class="valid-feedback">Bien.</div>
            <div class="invalid-feedback">Porfavor llenar estos campos.</div>
        </div>

        <!--Problema 2:  cuadrado y el cubo-->
        <div class="form-group">
            <label for="pwd">Una cantidad entre 1 hasta n la cual se obtendra el cuadrado y el cubo:</label>
            <input type="number" class="form-control" id="number" value=1 min=1 name="number" required>
            <div class="valid-feedback">Bien.</div>
            <div class="invalid-feedback">Porfavor llenar este campo.</div>
        </div>
        <!--Problema 3:  perimetros, areas y el volumen de un cubo-->
        <div class="form-group">
            <label for="pwd">Ingresa los datos para obtener los perimetros, areas y el volumen de un cubo:</label>
                 <table class="table table-bordered "> 
                    <thead class="thead-dark">
                        <tr>
                          <th>Largo</th>
                          <th>Alto</th>
                          <th>Profundidad</th>
                        </tr>
                      </thead>
                    <tr> 
                        <td><input type=number class="form-control" id="long" name="long" min=0 value=0 required></td> 
                        <td><input type=number class="form-control" id="high" name="high" min=0 value=0 required></td> 
                        <td><input type=number class="form-control" id="wide" name="wide" min=0 value=0 required></td> 
                    </tr> 
                 </table> 

            <div class="valid-feedback">Bien.</div>
            <div class="invalid-feedback">Porfavor llenar este campo.</div>
        </div>
        <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
  </div>

  



  
