

  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>
  <a onclick="M.toast({html: 'I am a toast'})" class="btn">Toast!</a>
        
  <form action="eliminarMedicamento.php" method="POST">
  <div id="modal1" class="modal">
    <div class="modal-content">
     <h4>Eliminar</h4>
      <p>¿Estás seguro que deseas eliminar este medicamento?</p>
    </div>
    <div class="modal-footer">
        <input class="btn red" type="submit" value="Eliminar" name="Eliminar">
      <a href="#!" name="Eliminar" class="modal-close waves-effect waves-green btn red">Si, estoy seguro</a>
      <a href="#!" class="modal-close waves-effect waves-green btn blue">No</a>
    </div>
  </div>
  </form>