<div class="input-field col s12">
    <i class="material-icons prefix">search</i>
    <input id="Escolaridad" placeholder="Maria Fernanda" type="text" class="validate">
    <label for="rol">Escribe un nombre de beneficiaria</label>     
</div>