
    <div class="row">
      <div class="col s3 m3"><img id="myImg" src="https://source.unsplash.com/800x600/?beach" alt="Foto 1" class="materialboxed responsive-img" ></div>
      <div class="col s3 m3"><img id="myImg1" src="https://source.unsplash.com/800x600/?sand" alt="" class="materialboxed responsive-img"></div>
      <div class="col s3 m3"><img id="myImg2" src="https://source.unsplash.com/800x600/?boat" alt="" class="materialboxed responsive-img"></div>
      <div class="col s3 m3"><img id="myImg3" src="https://source.unsplash.com/800x600/?cruise" alt="" class="materialboxed responsive-img"></div>
    </div>
    <div class="row">
      <div class="col s3 m3"><img id="myImg4" src="https://source.unsplash.com/800x600/?beach" alt="Foto 1" class="materialboxed responsive-img" ></div>
      <div class="col s3 m3"><img id="myImg5" src="https://source.unsplash.com/800x600/?sand" alt="" class="materialboxed responsive-img"></div>
      <div class="col s3 m3"><img id="myImg6" src="https://source.unsplash.com/800x600/?boat" alt="" class="materialboxed responsive-img"></div>
      <div class="col s3 m3"><img id="myImg7" src="https://source.unsplash.com/800x600/?cruise" alt="" class="materialboxed responsive-img"></div>
    </div>

<div id="myModal" class="modal">
    <!-- The Close Button -->
    <div class="modal-header">
      <!-- Modal Caption (Image Text) -->
      <div id="caption"></div>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
     <!-- Modal Content (The Image) -->
      <img class="modal-content" id="img01">

    </div>

      <div class="modal-footer">

    </div>

</div>