<div class="col s12">
<div class="card teal lighten-2">
  <div class="card-content teal ">
<div class="carousel carousel-slider center" data-indicators="true">
  <div class="carousel-item teal lighten-5 center" href="#one!" id="carousel-Docs">
      <h2>Editar Escuela</h2>
    <div class="col s12 align-center">
        