
  body:after {
    content: "Garcia"; 
    font-size: 10em;  
    color: rgba(140, 201, 228, 0.4);   
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  #div1, #div2 {
    float: left;
    width: 100px;
    height: 35px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
  }

  div#serif,#sans,#monospace
{
    float: left;
	width: 33%;
	
}