<br>
<div class="row">
  <div class="col-2">
  </div>
  <div class="col-8">
  <h2 id="titulo">Diagnostico </h2>
  </div>
    <div class="col-2">
        <a href="altaDiagnostico.php"><button type="button" class="btn btn-primary" >Agregar  <i class="fas fa-plus-circle"></i></button></a>
  </div>
</div>
<hr>