<label for="rol"><strong>Area del Programa</strong></label>
          </div>
        </div>
        
        <div class="row">
          <div class="file-field input-field">
            <div class="input-field col s6 l6">
              <i class="material-icons prefix"> </i>
              <input type="date" name="fechaI" required>
              <label for="rol"><strong>Fecha de Inicio:</strong></label>     
          </div>
          </div>
          <div class="file-field input-field">
            <div class="input-field col s6 l6">
              <i class="material-icons prefix"> </i>
              <input type="date" name="fechaF">
              <label for="rol"><strong>Fecha de Termino:</strong></label>     
          </div>
          </div>
          </div>
        <div class="file-field input-field">
          <div class="input-field col s12 l12">
            <i class="material-icons prefix"> </i>
            <input name="objetivo" placeholder="Ej. Lograr un nivel apto de lecturas para menores de 10 años" type="text" class="validate">
            <label for="rol"><strong>Objetivo del Programa</strong></label>     
        </div>
        </div>
        
        <div class="file-field input-field">
          <div class="input-field col s12 l12 left">
            <button id="test" class="waves-effect waves-light btn right" type="submit" name="action">Registrar
              <i class="material-icons right">add</i>
            </button>
            <a id="" href="consultaPrograma.php" class="waves-effect green lighten-3 btn right">Volver<i class="material-icons right">undo</i>
            </a>
            
        </div>
        </div>
      </form>
      </div>
  </div>
  <!--  PANELES SIGUIENTES PARA USARSE EN LOS IGUIENTES FORMULARIOS DE SER NECESARIO UNU
  <div class="carousel-item amber white-text" href="#two!">
      <h2>2 Second Panel</h2>
      <p class="white-text">This is your second panel</p>
  </div>
  <div class="carousel-item green white-text" href="#three!">
      <h2> 3 Third Panel</h2>
      <p class="white-text">This is your third panel</p>
  </div>
  <div class="carousel-item blue white-text" href="#four!">
      <h2> 4 Fourth Panel</h2>
      <p class="white-text">This is your fourth panel</p>
  </div>
  -->
</div>
</div>
</div>