
<br>
<div class="card teal lighten-2">
<div class="card-content teal lighten-3">
<div class="carousel carousel-slider center" data-indicators="true">
  <!-- SI SE ESTA UTILIZANDO UN FORM DE UNA SOLA PANTALLAESTOS SE DESABILITAN
  <div class="carousel-fixed-item center">
    <a class="waves-effect waves-light btn share-btn" href="http://google.com" target="_blank">Algun link</a>
     Botones de Control desabilitados por el momento, ya que no se ocupan en este form
      
      <a class="waves-effect waves-light btn slide-prev">Anterior</a>
      <a class="waves-effect waves-light btn slide-next">Siguiente</a>
  </div>
  -->
  <div class="carousel-item teal lighten-5 " href="#one!" >
      <h2>Alta de Programa</h2>
    <div class="col s12 align-center">
      <form action="Controladores\Programa\controladorAltaPrograma.php" method="POST">
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s6 l6">
            <i class="material-icons prefix"> </i>
            <input name="nombre" placeholder="Nuevo Programa" type="text" class="validate" required>
            <label for="rol"><strong>Nombre del Programa</strong></label>     
        </div>
        </div>
        <div class="file-field input-field">
          <div class="input-field col s6 l6">