<br>
<div class="row">
  <br>
      <h2 id="titulo">Medicamentos  <i class="material-icons medium">healing</i></h2>
</div>

<div class="row">
  <div class="col s10">
  </div>

  <div class="col s2">
    
    <a href="altaMedicamento.php" class="waves-effect waves-light btn"><i class="material-icons right">control_point</i>Agregar</a>
  </div>
 
</div>
<hr>