<form action="Controladores\Medicamento\controladorConsultaMedicamento.php" method="POST">
    <div class="input-field col s12">
        <i class="material-icons prefix">search</i>   
        <input name= "nombre"id="nombre" placeholder="Adderal" type="text" >
        <label>Escribe el nombre de un medicamento para buscar</label>     
    </div>
    <div class="input-field col s9">
        <input class="btn" type="submit" value="Consultar">
    </div>
   
</form>
<form action="consultaPresentacion.php" method="POST">
    <div class="input-field col s3">
        <input class="btn  green lighten-2" type="submit" name="xd" value="Presentaciones +/-">
    </div>
</form>