<div class="input-field col s12">
    <i class="material-icons prefix">search</i>
    <input id="Institucion" placeholder="DIF" type="text" class="validate">
    <label for="rol">Escribe una Institucion para buscar</label>     
</div>