<input class="form-control" id="myInput" type="text" placeholder="Buscar">
<br>
<form id="programa" action="consultaPrograma.php" method="POST">
        <table class="table">
        <thead>
            <tr>
            <th>Ver</th>
            <th>Nombre</th>
            <th>Fecha Inicio</th>
            <th>Descripcion</th>
            </tr>
        </thead>
        <tbody id="myTable">
            <tr>
                <td><input type="submit" name="receta" class="btn" value="Programa" /></td> 
                <td>Mexico por nosotros</td>
                <td>10/04/2020</td> 
                <td>Id consectetur purus ut faucibus pulvinar. Fames ac turpis egestas maecenas pharetra convallis posuere morbi.</td>
            </tr>
            <tr>
                <td><input type="submit" name="receta" class="btn" value="Programa" /></td>

                <td>Queretaro contra el analfabetismo</td>
                <td>10/04/2020</td> 
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tortor vitae purus faucibus ornare suspendisse sed. In cursus turpis massa tincidunt dui. Orci eu lobortis elementum nibh tellus molestie nunc. Id consectetur purus ut faucibus pulvinar. Fames ac turpis egestas maecenas pharetra convallis posuere morbi. Facilisis leo vel fringilla est ullamcorper eget nulla facilisi. Ullamcorper malesuada proin libero nunc </td>
            </tr>
        </tbody>
        </table>
    </form>