<div class="card blue-grey darken-1">

   <div class="card-content white-text">

      <span class="card-title">Programa: Mexico somos todos <br>Fecha de inicio: 10/04/2020</span>

      <p>Descripción: Id consectetur purus ut faucibus pulvinar. Fames ac turpis egestas maecenas pharetra convallis posuere morbi.</p>




      <p>Fecha final de programa: 15/04/2020</p>

   </div>

   <div class="card-action">

      <a href="#">Consultar Programa</a>

   </div>

  </div>