<div class="Container">

    <form action="controladorAltaIncidente.php" method="post">
        <h3>Lugar del acidente</h3>
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <?=crear_select("id", "nombre", "Lugares");?>  
          </div>
        </div>
        <h3>Tipo de accidente</h3>
        <div class="file-field input-field">
    
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <?=crear_select("id", "nombre", "IncidenteTipo");?>  
          </div>
        </div>
        <button id="test" class="waves-effect waves-light btn right" type="submit" name="action">Registrar
            <i class="material-icons right">add</i>
        </button>
    </form>
</div>
