
<div class="row">
    <br>
        <h2 id="titulo">Registrar nuevo incidente de seguridad. <i class="material-icons medium">chrome_reader_mode</i></h2>
    </div>
  
  <div class="row">
    <div class="col s10">
      
    </div>
  
    <div class="col s2">
      <a href="index.php" class="waves-effect waves-light btn"><i class="material-icons right">undo</i>Regresar</a>
    </div>
   
  </div>
  
  
  
  <hr>
  <br>