<form class="form-groupO" id="regForm" action="#">
    <!--Informacion de la receta-->
    <div class="tab">
      <div class="row">
        <div class="col s6">
          <p>Nombre de especialidad nueva<input type="text" oninput="this.className = ''" name="Especialidad"></p>
        </div>
      </div>
    </div>
          
    <div class="footform">
      <div class="botonesform">
        <button type="button" id="prevBtn" onclick="nextPrev(-1)">Anterior</button>
        <button type="button" id="nextBtn" onclick="nextPrev(1)">Siguiente</button>
      </div>
    </div>
    <!-- Circles which indicates the steps of the form: -->
    <div class="steps">
      <span class="step"></span>
    </div>
</form>
