

    <div class="container   Medium">
                <form method="POST">
                    <div class="input-group mt-3 mb-3">
                            <p>Fruta:<br></p>
                        <?=crear_selectG("id", "name", "Fruta");?>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary "  data-toggle="modal" data-target="#AddFruit">Nuevo</button>
                            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ModificarFruta">Modificar</button>
                            <button type="button" class="btn btn-danger"    data-toggle="modal" data-target="#DelateFruit">Eliminar</button>
                          </div>
                    </div>
                    <div class="input-group mt-3 mb-3">
                        <label>Paises:</label>
                        <?=crear_selectG("id", "name", "Paises");?>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddPais">Nuevo</button>
                            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ModificarPais">Modificar</button>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#DelatePais">Eliminar</button>
                          </div>
                    </div>
                    <div class='form-group'>
                        <label for='ordenarBy'>Ordenar por:</label>
                        <select class='form-control' name='ordenarBy' id id='ordenarBy'>
                            <option value='' disabled selected> Selecciona una opción</option>
                            <option value="0">Id</option>
                            <option value="1">Nombre</option>
                            <option value="2">Unidades</option>
                            <option value="3">Cantidad</option>
                            <option value="4">Precio</option>
                            <option value="5">País</option>
                        </select>
                    </div>


                    
                        <input class="btn btn-info" type="submit" value="Buscar producto">

                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#AddProducto">Nuevo producto</button>

                </form>
    </div>

  <!-- The Modal Agregar fruta -->
  <div class="modal" id="AddFruit">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Agregar fruta</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            
            <form method="POST">
                <input type="text" class="form-control" name="newFruta" id="newFruta">
                <input class="waves-effect waves-light btn" type="submit" value="Agregar">
            </form>

        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>
  
    <!-- The Modal eliminar fruta -->
    <div class="modal" id="DelateFruit">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Eliminar fruta</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
                <form method="POST">
                        <?=crear_select("id", "name", "Fruta","Eliminar");?>
                        <input class="waves-effect waves-light btn" type="submit" value="Eliminar">
                </form>
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
      
          </div>
        </div>
      </div>


  <!-- The Modal Agregar pais-->
  <div class="modal" id="AddPais">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Agregar pais</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">            
            <form method="POST" action="consulta.php" >
                <input type="text" class="form-control" name="newPais" id="newPais">
                <input class="waves-effect waves-light btn" type="submit" value="Agregar">
            </form>

        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>
  
    <!-- The Modal eliminar pais -->
    <div class="modal" id="DelatePais">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Eliminar pais</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
                <form method="POST">
                        <?=crear_select("id", "name", "Paises","Eliminar");?>
                        <input class="waves-effect waves-light btn" type="submit" value="Eliminar">
                </form>
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
      
          </div>
        </div>
      </div>

      <!-- The Modal Agregar producto-->
  <div class="modal" id="AddProducto">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Agregar pais</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">            
            <form method="POST" action="consulta.php" >
                <?=crear_select("id", "name", "Fruta","Producto");?>
                <?=crear_select("id", "name", "Paises","Producto");?>
                <label for="fname">Unidades:</label><br>
                <input type="number" class="form-control" name="newUnidades" id="newUnidades">
                <label for="fname">Cantidad:</label><br>
                <input type="number" class="form-control" name="newCantidad" id="newCantidad">
                <label for="fname">Precio:</label><br>
                <input type="number" class="form-control" name="newPrecio" id="newPrecio">
                <input class="waves-effect waves-light btn" type="submit" value="Agregar">
            </form>

        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>
    <!-- The Modal Modificar Fruta-->
    <div class="modal" id="ModificarFruta">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Modificar Fruta</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">            
                <form method="POST" action="consulta.php" >
                    <?=crear_select("id", "name", "Fruta","Modificar");?>
                    <input type="text" class="form-control" name="modificarFruta" id="modificarFruta">
                    <input class="waves-effect waves-light btn" type="submit" value="Modificar">
                </form>
    
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
      
          </div>
        </div>
      </div>
          <!-- The Modal Modificar Pais-->
    <div class="modal" id="ModificarPais">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Modificar Pais</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">            
                <form method="POST" action="consulta.php" >
                    <?=crear_select("id", "name", "Paises","Modificar");?>
                    <input type="text" class="form-control" name="modificarPais" id="modificarPais">
                    <input class="waves-effect waves-light btn" type="submit" value="Modificar">
                </form>
    
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
      
          </div>
        </div>
      </div>