<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="../Main/">Preguntas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../Consulta">Consulta frutas</a>
      </li>
    </ul>
  
  </nav>
  