
<div class="container-fluid p-3   text-center" >
    <h2>Preguntas</h2>
</div>
<div class="container p-3 ">
    <div class="card">
      <div class="card-header">¿Por qué es una buena práctica separar el modelo del controlador?</div>
      <div class="card-body">
        El controlador se encarga de establecer la interaccion entre interfaz y modelo, y el modelo hace la relacion con las tablas por lo tanto el codigo se vuelbe mas mantenible.
      </div> 
      <div class="card-footer">
        <a href="https://medium.com/code-smells/model-view-controller-architecture-78a855b8ab56">Medium</a>
          
        </div>
    </div>
</div>
<div class="container p-3 ">
    <div class="card">
      <div class="card-header">¿Qué es SQL Injection?</div>
      <div class="card-body">    
        Es una vulnerabilidad que permite “inyectar” instrucciones SQL dentro del código con el fin de  manipulacr las bases de datos poniendo en peligro los datos almacenados.
    </div> 
      <div class="card-footer">
        <a href="https://openwebinars.net/blog/que-es-sql-injection/">Openwebinars</a>
      </div>
    </div>
</div>


<div class="container p-3 ">
    <div class="card">
      <div class="card-header">¿Qué técnicas puedes utilizar para evitar ataques de SQL Injection?</div>
      <div class="card-body">   
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Convierte siempre el valor a su tipo correspondiente </li>
          <li class="list-group-item">Parametrizar las consultas SQL</li>
          <li class="list-group-item">Usar una cuenta con permisos restringidos a la base de datos</li>
          <li class="list-group-item">No mostrar al usuario la información de error generada por la base de datos</li>
          <li class="list-group-item">Rechazar las peticiones con caractéres sospechosos</li>
        </ul>
      </div> 
        <div class="card-footer">        
        <a href="https://geeks.ms/gtorres/2010/10/29/tips-para-evitar-sql-injection/">Geeks</a>
        </div>
    </div>
</div>


