<form class="form-groupO" id="regForm" action="#">
    <!-- One "tab" for each step in the form: -->
    <!--Datos de la menor-->
    <div class="tab">
      <p>Nombre programa:<input placeholder="Ej. Lucha contra el analfabetismo" oninput="this.className = ''" name="nombrePrograma"></p>
      <p>Fecha inicio<input type="date" oninput="this.className = ''" name="FechaStart"></p>
      <p>Fecha inicio<input type="date" oninput="this.className = ''" name="FechaEnd"></p>
      <p>Objetivo del programa<input placeholder="Ej. Lograr un nivel apto de lecturas para menores de 10 años" oninput="this.className = ''" name="ObjetivoPrograma"></p>
    </div>
    <div class="footform">
      <div class="botonesform">
        <button type="button" id="prevBtn" onclick="nextPrev(-1)">Anterior</button>
        <button type="button" id="nextBtn" onclick="nextPrev(1)">Siguiente</button>
      </div>
    </div>
    <!-- Circles which indicates the steps of the form: -->
    <div class="steps">
      <span class="step"></span>
    </div>
</form>