
<div class="row">
  <br>
      <h2 id="titulo">Expedientes <i class="material-icons medium">collections_bookmark</i></h2>
</div>

<div class="row">
  <div class="col s10">
    <a href="altaBeneficiaria.php" class="waves-effect waves-light btn"><i class="material-icons right">add</i>Agregar</a>
  </div>

  <div class="col s2">
    <a href="altaBeneficiaria.php" class="waves-effect waves-light btn"><i class="material-icons right">delete_sweep</i>Eliminar</a>
  </div>
  
</div>
<hr>