    <footer>
 
        <div class="container-fluid p-3  bg-dark text-white  text-center" >
            <dl>   
                <dt>
                    <h2>
                        Mis datos 
                    </h2>
                    
                </dt>
                    <dd>
                        Alexis Garcia Gutierrez
                            <ul>
                                <li>
                                    Matricula A01703422
                                </li>
                                <li>
                                    Correo Institucional a01703422@itesm 
                                </li>
                                <li>
                                    Correo personal alegg-1998@outlook.com
                                </li>
                                <li>
                                    <a href="https://bitbucket.org/AleGarciaG/a01703422">Mi git hud</a>
                                </li>
                            </ul>
                    </dd>
                <dt>
                    <h2>
                        Herramienta utilizada 
                    </h2>
                    <a href="https://code.visualstudio.com/ ">visual studio code </a>
                </dt>
                    <dd>
                        <p>
                            Con los siguientes extenciones:
                        </p>
                        <ul>
                            <li>
                                Auto Close Tag de Jun Han: Encierra las tags de manera automatica.
                            </li>
                            <li>
                                Auto Rename Tag de Jun Han: Cambia el nombre de las tags al mismo tiempo.
                            </li>
                            <li>
                                html tag wrapper de hwencc: Si se ncesita encerra ciertas tags ya escritas en otra las encierra con  ctrl + i.
                                    
                            </li>
                            <li>
                                IntelliSense for CSS class names in HTML de Zignd: te da sugerencias de auto completado.
                            </li>
                            <li>
                                    open in browser de TechER: te da la opcion de abrir un html en un buscador cuando se preciona clik derecho.
                             </li>
                            <li>
                                vscode-faker de Budi Irawan: genera texto falso por ejemplo nombre, parrafos, direcciones, etc. Solo se necesita precionar  cmd+shift+p y poner faker para poder escoger el texto falso que quieres crear.
                            </li>
                            <li>
                               Live Server de Ritwick Dey: agrega una boton en la parte inferior del monitor, el cual te permite ver los cambios en el buscador cada ves que guardas el archivo.
                            </li>
                        </ul>
                    </dd>
            </dl>
        </div>
    </footer>

