<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="index.php">Preguntas</a>
      </li>

      <li class="nav-item">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Problemas
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="porblemasNoSeguro.php">Sin seguridad</a>
          <a class="dropdown-item" href="problemasSeguro.php">Con seguridad</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="foto.php">Subir Foto</a>
      </li>

    </ul>
  
  </nav>
  