
<div class="container-fluid p-3   text-center" >
    <h2>Preguntas</h2>
</div>
<div class="container p-3 ">
    <div class="card">
      <div class="card-header">¿Por qué es importante hacer un session_unset() y luego un session_destroy()?</div>
      <div class="card-body">Uno destruye la sesión y otra las variables por lo tanto liveramos la memoria.</div> 
      <div class="card-footer">
        <a href="https://www.w3schools.com">w3schools.com</a>
          
        </div>
    </div>
</div>
<div class="container p-3 ">
    <div class="card">
      <div class="card-header">¿Cuál es la diferencia entre una variable de sesión y una cookie?</div>
      <div class="card-body">    
        Las variables se guardan en el servidor mientras que las cookies se guardan localmente.
    </div> 
      <div class="card-footer">
        <a href="https://www.php.net/manual/en/intro.session.php">php.com</a>
      </div>
    </div>
</div>


<div class="container p-3 ">
    <div class="card">
      <div class="card-header">¿Qué técnicas se utilizan en sitios como facebook para que el usuario no sobreescriba sus fotos en el sistema de archivos cuando sube una foto con el mismo nombre?</div>
      <div class="card-body">   
        Se arega la fecha cuando se subio el archvio al nombre.
      </div> 
      <div class="card-footer"><a href="https://books.google.com.mx/books?id=EjC8D1hJ2FsC&pg=PA177&lpg=PA177&dq=How+to+prevent+a+PHP+upload+script+from+overwriting+existing&source=bl&ots=kxuGLh9_df&sig=ACfU3U2GgUP3pVSXiMIcL-vTBvOAfztOpQ&hl=es-419&sa=X&ved=2ahUKEwi92pvekMboAhUCWqwKHWl9AdoQ6AEwAnoECAoQAQ#v=onepage&q=How%20to%20prevent%20a%20PHP%20upload%20script%20from%20overwriting%20existing&f=false">PHP Solutions: Dynamic Web Design Made Easy</a>
      </div>
    </div>
</div>

<div class="container p-3 ">
    <div class="card">
      <div class="card-header">¿Qué es CSRF y cómo puede prevenirse?</div>
      <div class="card-body">   
        Hacer uso de ingeniería social para obtener datos de un usuario o realizar acciones no deseadas por ejemplo al llenar un formulario el sistema realiza una trasnferencia de banco. Puede prevenirse utilizando aplicaciones de seguridad del lado del servidor por ejemplo necesitar de tokens o un codigo random asociado a la secion.       </div> 
      <div class="card-footer">        
        <a href="https://blog.evidaliahost.com/cross-site-request-forgery-csrf/">Evidaliahost</a>
        <br>
        <a href="https://portswigger.net/web-security/csrf">Portswigger</a>
        </div>
    </div>
</div>

