.anyClass {
    height:450px;
    overflow-y: scroll;
  }
body {
    position: relative; 
}
.center{
  width:150px
}


.carousel-inner img {
  width: 100%;
  height: 200;
}
containerImage {
  width: 100%;
  height: 200;
}