<form class="form-groupO" id="regForm" action="#">
    <!-- One "tab" for each step in the form: -->
    <!--Datos de la menor-->
    <div class="tab">
      <p>Fecha de ingreso:<input type="date" oninput="this.className = ''" name="fecha"></p>
      <p>Hora de ingreso:<input type="time" oninput="this.className = ''" name="hora"></p>
      <p>Nombre:<input placeholder="Maria" oninput="this.className = ''" name="nombre"></p>
      <p>Apellido paterno:<input placeholder="Garcia" oninput="this.className = ''" name="apellidoPaterno"></p>
      <p>Apellido materno:<input placeholder="Perez"  oninput="this.className = ''" name="apellidoMaterno"></p>

    </div>

    <div class="tab">
      <p>Fecha de nacimiento:<input type="date" oninput="this.className = ''" name="fechaN"></p>
      <p>Nacionalidad:<input placeholder="Mexico" oninput="this.className = ''" name="nac"></p>
      <p>Estado:<input placeholder="Queretaro" oninput="this.className = ''" name="estado"></p>
      <p>Ciudad:<input placeholder="Queretaro"  oninput="this.className = ''" name="ciudad"></p>
      <p>CURP:<input placeholder="CURP"  oninput="this.className = ''" name="curp"></p>
    </div>

    
    <div class="tab">Canalizador:
      <p>Nombre:<input placeholder="Juan Perez" oninput="this.className = ''" name="nombreC"></p>
      <p>Cargo:<input placeholder="Director" oninput="this.className = ''" name="cargo"></p>
      <p>Institución:<input placeholder="DIF" oninput="this.className = ''" name="institucion"></p>
      <p>Identificación:</p>
      <p>Tipo:<input placeholder="INE" oninput="this.className = ''" name="tipoIdentificacion"></p>
      <p>Número:<input placeholder="1" oninput="this.className = ''" name="numeroI"></p>           
    </div>

    <div class="tab">
      <p>Número de expediente y/o carpeta de investiación:<input placeholder="-" oninput="this.className = ''" name="nExpediente"></p>
      <p>Motivo de ingreso:<input placeholder="-" oninput="this.className = ''" name="motivo"></p>
      <p>Ingreso con hermanos:<input placeholder="Si/No" oninput="this.className = ''" name="hermanos"></p>
      <p>No. Oficio Disposición:<input placeholder="-" oninput="this.className = ''" name="nDisposicion"></p>
      <p>Situación Jurídica:<br><textarea name="message" rows="10" cols="30" oninput="this.className = ''" name="situacionJ"></textarea></p>           

    </div>

    
    <div class="tab">
      <p>Escolaridad:<input placeholder="secundaria" oninput="this.className = ''" name="escolaridad">
      <p>Escuela<input placeholder="-" oninput="this.className = ''" name="escuela"></p>
    </div>
    <div class="tab">Datos médicos:
      <p>Sexo<input placeholder="M/F" oninput="this.className = ''" name="sexo"></p>
      <p>Talla:<input placeholder="-" oninput="this.className = ''" name="talla"></p>
      <p>Peso:<input placeholder="kg" oninput="this.className = ''" name="peso" type="number"></p>
      <p>Padecimientos y/o enfermedades crónicas:<input placeholder="-" oninput="this.className = ''" name="padecimientos"></p>
      <p>Alergias:<input placeholder="-" oninput="this.className = ''" name="alergia"></p>
      <p>Discapacidad:</p>
      <p>Si/No:<input placeholder="S/N" oninput="this.className = ''" name="discapacidadSN"></p>
      <p>Cual:<input placeholder="-" oninput="this.className = ''" name="discapacidad"></p>
    </div>
    <div class="footform">
      <div class="botonesform">
        <button type="button" id="prevBtn" onclick="nextPrev(-1)">Anterior</button>
        <button type="button" id="nextBtn" onclick="nextPrev(1)">Siguiente </button>
      </div>
    </div>
    <!-- Circles which indicates the steps of the form: -->
    <div class="steps">
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
    </div>
  </form>